@use "../shared" as *;

.row {
  margin: 0 !important;

  &:first-child {
    margin-top: $spacer !important;
  }

  margin-bottom: $spacer !important;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap !important;
  gap: $spacer;

  @include media-breakpoint-down(sm) {
    margin-bottom: $spacer !important;
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap !important;
  }

  .col-lg-12 {
    width: calc(100% - 30px);

    @include media-breakpoint-down(sm) {
      width: calc(100% - $spacer-sm * 3);
      margin: 0 auto;
      margin-top: 0;
    }
  }

  .col-lg-10 {
    width: calc(83.333% - 27px);

    @include media-breakpoint-down(sm) {
      width: calc(100% - $spacer-sm * 3);
      margin: 0 auto;
      margin-top: 0;
    }
  }

  .col-lg-8 {
    width: calc(66.666% - 25px);

    @include media-breakpoint-down(sm) {
      width: calc(100% - $spacer-sm * 3);
      margin: 0 auto;
      margin-top: 0;
    }
  }

  .col-lg-6 {
    width: calc(50% - 23px);

    @include media-breakpoint-down(sm) {
      width: calc(100% - $spacer-sm * 3);
      margin: 0 auto;
      margin-top: 0;
    }
  }

  .col-lg-4 {
    width: calc(33.333% - 20px);

    @include media-breakpoint-down(sm) {
      width: calc(100% - $spacer-sm * 3);
      margin: 0 auto;
      margin-top: 0;
    }
  }

  .col-lg-3 {
    width: calc(25% - 18px);

    @include media-breakpoint-down(sm) {
      width: calc(100% - $spacer-sm * 3);
      margin: 0 auto;
      margin-top: 0;
    }
  }

  .col-lg-2 {
    width: calc(16.666% - 17px);

    @include media-breakpoint-down(sm) {
      width: calc(100% - $spacer-sm * 3);
      margin: 0 auto;
      margin-top: 0;
    }
  }

  [class^="col-"] {
    padding: 0;

    @include media-breakpoint-down(sm) {
      margin: inherit 0;
    }
  }

  .column {
    padding: 0 !important;
  }
}