@use "../shared" as *;
@import "../base/typography";

/* COMPONENTE: PAGE COVER */
/* CSS relativo al componente che stampa le copertine delle pagine */
.cover-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;

  @include media-breakpoint-down(sm) {
    flex-direction: column !important;
  }

  .cover-first-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    img {
      min-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

* .article .column.col-lg-12 {
  margin: 0px auto;
  max-width: 1080px;
  box-sizing: border-box;
  padding: $spacer;
  width: auto;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
    padding: 0
  }
}

.page-informations {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 60px;
  box-sizing: border-box;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    width: fit-content;
    margin: 0;
  }

  .cards-text {
    margin-top: 15px
  }
}